.container-box {
  padding: 2vh 19vw 1vh 19vw;
}



* {
  font-family: Graphik Web Regular, sans-serif;
  box-sizing: content-box;
  max-width: 100vw;
}

a{
  color : inherit;
  text-decoration: none;
}

.font1 {
  font-size: 0.97rem;
}

.footer {
  background-color: #f9fafb;
}

.color-6C7 {
  color: #6C757D
}

.color-2F3 {
  color: #2F363F;
}

.color-818 {
  color: #81878C;
}

.color-1F7 {
  color: #1F7AE0
}

.color-535 {
  color: #535B62
}

.color-444 {
  color: #444fd3
}

.color-248{
  color: #248AFF;
}

.fontWeight-600 {
  font-weight: 600;
}

.fontSize-small {
  font-size: 0.9rem;
}

.cursor-pointer {
  cursor: pointer;
}


.navbar-navTag {
  column-gap: 24vw;
}

.navbar-container {
  column-gap: 1.7vw;
  opacity: 0.9;
}

.navbar-img-smallcase {
  margin-top: -0.5vh;
}


.navbar-cursor-pointer {
  cursor: pointer;
}

.navbar-cursor-pointer:hover {
  color: black
}

.stockInfo-section {
  background-color: #F9FAFB;
  margin-top: 10vh;
  padding: 3vh 1vw 3vh 1vw;
}

.stockInfo-logo {
  width: 4vw;
  height: 8vh;
}

.stockInfo-percentage {
  color: #19AF55;
  font-size: 1.4rem;
}


.stockInfo-free-access {
  align-self: center;
  font-size: 0.7rem;
}

.stockInfo-volatility-div {
  cursor: default;
}

.stockInfo-volatility {
  padding: 0vh 1vw 0vh 1vw;
  border: 1px solid #535B62;
}


.stockInfo-cagr {
  font-size: 0.94rem;
}

.stockInfo-cursor {
  cursor: help;
}


.investors-border {
  border: 1px solid rgba(68, 79, 211, .3);
  padding: 0vh 2vw 2vh 1vw;

}

.investors-trending {
  position: absolute;
  transform: translateY(-50%);
  font-weight: 700;

}


.investors-icon {
  margin-top: -0.4vh;
  margin-right: 0.3vh;
}


/* .minimumInvest-section {
  width: 60%;
} */


.minimumInvest-amount {
  font-size: 1.3rem;
}

.minimumInvest-reload-icon {
  height: 1.2vh;
  width: 1.4vw;
  margin: -0.5vh 0 0 -0.3vw;
}

.minimumInvest-invest-button {
  background-color: #27BC94;
  padding: 1.5vh 0vw 1.5vh 0vw;
}

.minimumInvest-watchlist-button {
  padding: 1.5vh 0vw 1.5vh 0vw;
}


.minimum-invest-cursor-pointer {
  cursor: pointer;
}

.minimum-invest-cursor-pointer:hover,
.color-blue {
  color: #1F7AE0
}

.aboutus-subscribe-button {
  margin-left: 1vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
}

.aboutSmallCase-description {
  line-height: 3vh;
  width: 55%;
  font-weight: 300;
}

.aboutSmallCase-overview {
  color: #1F7AE0;
  border-bottom: 1px solid #1F7AE0;
  border-spacing: 2vh;
  padding-bottom: 1vh;
}

.aboutSmallCase-hr {
  margin-top: -0.1vh;
}


.aboutSmallCase-icon-div {
  background-color: #E1F3FF;
  border-radius: 50%;
  width: 2vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.manager-section {
  margin-bottom: 9vh;
}

.manager-img {
  height: 5.5vh;
  width: 9vw;
}

.manager-container {
  border: 1px solid #dde0e4;
  padding: 3vh 3vw 3vh 1vw;
}

.manager-sub-container {
  justify-content: end;
  align-items: center;
}

.manager-windmill {
  font-size: 1.1rem;
  font-weight: 550;
}

.manager-plus-icon {
  color: #444fd3;
  height: 2.4vh;
  width: 1vw;
  margin-top: -0.8vh;
}

.manager-manages {
  font-size: 0.8rem;
  font-weight: 600;
  color: #81878C;
}

.manager-description {
  font-size: 0.95rem;
  color: #2F363F;
}

.manager-button {
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  border: 0px solid;
  font-size: 0.75rem;
  font-weight: 600;
  color: #535B62;
  
}

.manager-icon-button {
  margin-top: -0.5vh;
}

.aboutus-home {
  height: 2vh;
  width: 2vw;
}

.aboutus-smallcase-description {
  width: 40%;
}


.aboutus-input {
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.contactus-icon {
  height: 2.2vh;
  width: 2vw;
}

.contactus-profile-icon {
  height: 2.5vh;
  width: 2.2vw;
}

.contactus-usedBy {
  font-size: 0.6rem;
}

.Etfs-weights {
  color: #1F7AE0;
  border-bottom: 1px solid #1F7AE0;
  border-spacing: 2vh;
  padding-bottom: 1vh;
}

.glance-sub-container-1 {
  width: 50%;
}

.glance-div {
  width: 50%;
}

.glance-title {
  color: #81878C;
}

.glance-understand {
  color: #535B62;
  margin-right: 0.5vw;

}

.glance-section {
  font-size: 0.98rem;
}

.glance-sub-container-2 {
  background-image: url("./img/download.svg");
  background-size: cover;
  width: 40%;
  color: #81878C;
  border: 0.5px solid #dde0e4;
  padding: 2vh 1vw 1vw 2vh;
  font-size: 0.95rem;
}

.ETFsSegment-span{
  content: "";
  position: absolute;
  width: 0.5vw;
  height: 3vh;
}